extends ../layouts/layout

block content
  header.jumbotron
    h1 Welcome to HikingTrails!
    p View our hand-picked trails from all over the world
    a.btn.btn-secondary.btn(href="/trails/new")
      | #[span.oi.oi-plus(aria-hidden="true")] Add new trail
  .row
    if noMatch
      .col-12: p= noMatch
    else
      each trail in trails
        - const { image, name, location, _id } = trail;
        .col-sm-6.col-md-4.col-lg-3
          .card.mb-3
            img.card-img-top(src=image)
            div.card-body
              h5.card-title #{name}
              p.card-subtitle.text-muted #{location}
            div.card-body: a.card-link(href="/trails/" + _id) More info
  if pages && pages > 1
    .row
      .col-12
        nav(aria-label='Page navigation')
          ul.pagination.justify-content-center
            li.page-item(class={disabled: current === 1}): a.page-link(href=`/trails?page=1`) First
            li.page-item(class={disabled: current === 1}): a.page-link(href=`/trails?page=${current - 1}`): span.oi.oi-chevron-left
            - let i = Number(current) > 5 ? Number(current) - 4 : 1
            if i !== 1
              li.page-item.disabled: a.page-link(href='#') ...
            while i <= (Number(current) + 4) && i <= pages
              if i === current
                li.page-item.active: a.page-link(href=`/trails?page=${i}`)= i
              else
                li.page-item: a.page-link(href=`/trails?page=${i}`)= i
              if i == Number(current) + 4 && i < pages
                li.page-item.disabled: a.page-link(href='#') ...
              - i++;
            li.page-item(class={disabled: current === pages}): a.page-link(href=`/trails?page=${current + 1}`): span.oi.oi-chevron-right
            li.page-item(class={disabled: current === pages}): a.page-link(href=`/trails?page=${pages}`) Last