extends ../layouts/layout

block content
  - const {  _id: trailId, createdAt: trailCreatedAt, author: trailAuthor, name, difficulty, estimatedTime, image, description, location, lat, lng, comments } = trail;

  .row
    .col-md-9.order-md-1
      .card.mb-4
        img.card-img-top(src=image alt=name)
        div.card-body
          .float-right.text-muted
            | #[span.oi.oi-timer] ~#{moment.duration(parseInt(estimatedTime), 'minutes').humanize()}
          h5.card-title= name
          p.card-subtitle.mb-3.text-muted= difficulty
          p.card-text= description
          p.card-text Submitted by #[a(href=`/users/${trailAuthor.id}`) #{trailAuthor.username}], #{moment(trailCreatedAt).format('MMM DD, YYYY')}
          if user && (trailAuthor.id.equals(user._id) || user.isAdmin)
            a.btn.btn-sm.btn-secondary.mr-2(href=`/trails/${trailId}/edit`)
              | #[span.oi.oi-pencil(aria-hidden="true")] Edit
            form.d-inline(action=`/trails/${trailId}?_method=DELETE` method="POST")
              button.btn.btn-sm.btn-danger #[span.oi.oi-trash(aria-hidden="true")] Delete
      iframe.border-0.mb-4(height="250px" width="100%" src=`https://forecast.io/embed/#lat=${lat}&lon=${lng}&color=#00aaff&font=Georgia&units=us`)
      hr
      .d-flex.justify-content-between.align-items-start
        h5 #{comments.length} Comments
        a.btn.btn-sm.btn-success(data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="addCommentForm")
          | #[span.oi.oi-plus(aria-hidden="true")] Add New Comment
      .collapse#collapseComment
        .card.rounded-0.border-top-0.border-right-0.border-bottom-0.border-success
          .card-body
            if !user
              h5 You need to login before you can comment.
              | #[a(href="/login") Click here] to go to the login page.
            else
              h5 Write your comment #[span.oi.oi-pencil(aria-hidden="true")]
              form#addCommentForm(action=`/trails/${trailId}/comments` method="POST")
                .form-group
                  input.form-control(type="text" value=user.username disabled)
                .form-group
                  textarea.form-control(name="comment[text]" placeholder="Write your comment..." form="addCommentForm" rows="5")
                button.btn.btn-sm.btn-primary Save
      if comments.length === 0
        .text-center.mb-4
          em.text-muted No comments yet
      each comment in comments
        - const { _id: commentId, createdAt: commentCreatedAt, author: commentAuthor , text } = comment;
        .row.my-4
          .col-md-12
            hr
            p
              span.h5
                span.oi.oi-person
                |
                |
                a.badge(class={
                  'badge-info': user && user._id.equals(commentAuthor.id),
                  'badge-primary': trailAuthor.id.equals(commentAuthor.id)
                } href=`/users/${commentAuthor.id}`)= commentAuthor.username
              span.small.text-muted
                | 
                | #{moment(commentCreatedAt).fromNow()}
            p= text
            if user && (commentAuthor.id.equals(user._id) || user.isAdmin)
              a.btn.btn-sm.btn-secondary.mr-2(data-toggle="collapse" href=`#collapseEdit${commentId}` role="button" aria-expanded="false" aria-controls="editCommentForm")
                | #[span.oi.oi-pencil(aria-hidden="true")] Edit
              form.d-inline(action=`/trails/${trailId}/comments/${commentId}?_method=DELETE` method="POST")
                button.btn.btn-sm.btn-danger
                  | #[span.oi.oi-trash(aria-hidden="true")] Delete
              .collapse(id=`collapseEdit${commentId}`)
                .card.rounded-0.border-top-0.border-right-0.border-bottom-0.border-success
                  .card-body
                    h5 Edit your comment #[span.oi.oi-pencil(aria-hidden="true")]
                    form#editCommentForm(action=`/trails/${trailId}/comments/${commentId}?_method=PUT` method="POST")
                      .form-group
                        textarea.form-control(name="comment[text]" placeholder="Write your comment..." form="editCommentForm" rows="5")= text
                      button.btn.btn-sm.btn-primary.btn Save

    .col-md-3.order-md-0
      #map.mb-4
block scripts
  script(type='text/javascript').
    function initMap() {
      const lat = #{lat},
        lng = #{lng},
        name = #[| '#{name}'];
      const center = { lat, lng };
      const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center
      });
      const marker = new google.maps.Marker({
          position: center,
          map
      });
    }
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcPdVnaRp4htTr7WSzJVVwUTutCOpGYkU&callback=initMap")