extends ../layouts/layout

block content
  - const {username, firstName, lastName, email, avatar, biography, _id } = foundUser

  h3.font-weight-light.text-center.mb-4 Edit public profile
  .row
    .col-12.col-md-10.col-lg-8.mx-auto
      form.mb-2(action=`/users/${_id}?_method=PUT` method="POST" enctype="multipart/form-data")
        .row
          .col-12.col-sm-6
            .form-group
              label(for="firstName") First name
              input.form-control(type="text" name="firstName" id="firstName" value=firstName autofocus required)
          .col-12.col-sm-6
            .form-group
              label(for="lastName") Last name
              input.form-control(type="text" name="lastName" id="lastName" value=lastName required)
        .row
          .col-12.col-sm-6
            .form-group
              label(for='email') Email address
              input.form-control(type="email" name="email" id="email" value=email required)
          .col-12.col-sm-6
            .form-group
              label(for="avatar") Avatar
              .input-group
                .custom-file
                  input.custom-file-input(type="file" name="avatar" id="avatar" accept="image/*")
                  label.custom-file-label(for="avatar") Choose file...
        .row
          .col-12
            .form-group
              label(for="biography") About me
              textarea.form-control(name="biography" id="biography" placeholder="Write a short description of yourself" rows="4")= biography
        button.btn.btn-primary Update profile

block scripts
  script(src="/js/trails/new.js")