extends ../layouts/layout

block content
  - const {username, firstName, lastName, email, avatar, biography, _id } = foundUser

  h1.text-center.mb-4 Edit #{username}'s Profile
  .row
    .col-sm-8.col-md-6.col-lg-4.mx-auto
      form.mb-2(action=`/users/${_id}?_method=PUT` method="POST")
        .form-group
          label(for="firstName") First Name
          input.form-control(type="text" name="user[firstName]" id="firstName" value=firstName required)
        .form-group
          label(for="lastName") Last Name
          input.form-control(type="text" name="user[lastName]" id="lastName" value=lastName required)
        .form-group
          label(for='email') Email
          input.form-control(type="email" name="user[email]" id="email" value=email required)
        .form-group
          label(for='avatar') Avatar URL
          input.form-control(type="text" name="user[avatar]" id="avatar" value=avatar)
        .form-group
          label(for='biography') About Me
          textarea.form-control(name="user[biography]" id="biography" value=biography rows="4")
        button.btn.btn-lg.btn-primary.btn-block Save Changes
      a(href=`/users/${_id}`) Go back