extends ../layouts/layout

block content
  - const fullName = `${foundUser.firstName} ${foundUser.lastName}`
  - const imageSrc = foundUser.avatar || '/images/anonymous.jpg'
  .row
    .col-md-3
      .card.border-0
        img.card-img-top(src=imageSrc alt=fullName)
        .card-body.px-0
          h2.h4.card-title= fullName
          p.card-text.text-muted= `Joined ${moment(createdAt).format('MMMM DD[,] YYYY')}`
          if foundUser.biography
            p.card-text= foundUser.biography
        .card-body.px-0
          small: a.card-link(href=`mailto:${foundUser.email}`)= foundUser.email
        if user && (user._id.equals(foundUser._id) || user.isAdmin)
          .card-body.px-0
            a.btn.btn-sm.btn-secondary(href=`/users/${user._id}/edit`)
              | #[span.oi.oi-pencil(aria-hidden="true")] Edit Profile
    .col-md-9.mt-4.mt-md-0
      .row
        .col-12
          h1.h4= `${foundUser.username}'s Trails`
      .row
        .col-12
          each trail in trails
            - const { createdAt, image, location, comments, name, _id, description } = trail;
              hr
              ul.list-unstyled
                li
                  .row
                    .col-7.col-sm-8.col-md-9
                      h5.mb-2: a(href=`/trails/${_id}`)= name
                      h6= location
                      small.text-muted= `${comments.length} Comments - ${moment(createdAt).fromNow()}`
                    .col-5.col-sm-4.col-md-3
                      div.bg-black.img-responsive
                        img.img-fluid.mh-100(src=image alt=name)

